body {
	margin:0;
	padding:0;
	background: #efefef url(menu_background.png) repeat-y;
	font-size:14px;
	font-family: sans-serif;
}
#header {
	height:50px;
	width:100%;
	background: rgb(69,72,77);
	background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
	background: linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	font-size:12px;

	-webkit-box-shadow: 0px 1px 10px 0px #000000;
	-moz-box-shadow: 0px 1px 10px 0px #000000;
	box-shadow: 0px 1px 10px 0px #000000;
}

#menu {
	width: 300px;
	overflow: hidden;
	padding-top:30px;
	position:absolute;
}

#content {
	margin-left:300px;
	margin-right:0;
	margin-bottom:0;
	padding:10px;
	padding-top:30px;
	color:#4a4a4a;
}
#header h1 {
	line-height:50px;
	width:195px;
	height: 40px;
	background:url(logo.png);
	position: absolute;
	left:25px;
	top:5px;
	text-indent: -9999px;
	display:block;
	margin:0;
	padding:0;
}

#header img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 2px #7a7a7a;
	-moz-box-shadow: 0px 2px 2px #7a7a7a;
	box-shadow: 0px 2px 2px #7a7a7a;
	margin-right: 7px;
}

#header #account {
	height:32px;
	margin-right:20px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;

	padding:5px;
	float:right;
	color:#666;

	background:#efefef;
	-webkit-box-shadow: 0px 0px 7px 0px #efefef;
	-moz-box-shadow: 0px 0px 7px 0px #efefef;
	box-shadow: 0px 0px 7px 0px #efefef;
}

#header #account div, #header img {
	float:left;
}

#header #account a {
	color:#444;
	text-decoration: none;
}

#header #account a:hover {
	color:#000;
}

#menu ul {
	list-style: none;
}

#menu ul, #menu ul li {
	margin:0;
	padding:0;
}

#menu ul li a {
	cursor:pointer;
	display:block;
	width:270px;
	padding-left:30px;
	line-height: 50px;
	height:50px;
	border-top:1px solid #444;
	border-bottom:1px solid #222;

	color:#888;
	text-decoration: none;
}

#menu ul li a:hover {
	background-color: rgba(0,0,0,.3);
	color:#aaa;
}

#menu ul li a span {
	margin-top:-5px;
	margin-right:7px;
	opacity:.6;
}

#menu ul li ul li a {
	line-height: 24px;
	width:auto;
	height:24px;
	border:0;

	background-repeat: no-repeat;
	background-position: left center;

	color: white;
	opacity: .4;
	filter: alpha(opacity=40);
}

#menu ul li ul li a:hover {
	color: white;
}

a {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

#menu ul {
	border-top:1px solid #222;
	border-bottom:1px solid #444;
}

#menu ul ul {
	padding-left:43px;
	padding-bottom: 8px;
	padding-top: 8px;
	border-top:1px solid #444;
	border-bottom:1px solid #222;
}

#menu ul ul ul {
	padding-left:20px;
}

.box {
	margin:0 10px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 6px 1px #aaa;
	border-radius: 4px;
}

.box > .header {
	border: 1px solid #555;
	border-bottom: none;
	line-height: 30px;
	font-size:14px;
	margin:0;
	padding-left:15px;
	color:#ddd;
	font-weight:normal;
	border-radius: 4px 4px 0px 0px;
	background:url(menu_background.png);
}

.box > .content {
	padding: 15px;
	border: 1px solid #ccc;
	border-top:0;
	border-radius: 0px 0px 4px 4px;
	background-color: white;
}

#content hr {
	height:0;
	line-height:0;
	font-size:0;
	border:0;
	border-top:1px solid #f8f8f8;
	border-bottom: 1px solid #bbb;
	margin:10px -15px;
}

#content p {
	margin-top:0;
}

/*
#content a {
	text-decoration: none;
	color:#4a4a4a;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background:#ddd;
	padding:2px 5px;
}

#content a:hover {
	color:#111;
	background:#ccc;
	position: relative;
	z-index:99999;
}
*/

.icon {
	display: block;
	float: left;
	width: 200px;
	text-align: center;
	margin: 10px;
}

.icon img {
	border: none;
	margin: 10px;
}

.error {
	width:94%;
	padding: 10px;
	line-height:20px;
	font-size:14px;
	margin: 12px auto;
	border:1px solid #F66;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 6px 1px #aaa;
	-moz-box-shadow: 0px 0px 6px 1px #aaa;
	box-shadow: 0px 0px 6px 1px #aaa;
	color:#F66;
	background-color: #FDD;
	text-align: center;
}

.box .menu a {
	display: block;
	margin: 3px;
}